
  .drag-prevent {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
  
  .s {
    display: flex;
  }
  
  
  .picture-book {
    box-shadow: 0 0 1px 1px #bdc3c7;
    height: 120px;
    width:120px;
  }


  
  .aa {
    color: black;
    text-decoration: none;
  }
  
  .change-size {
    font-size: 15px;
  }
  
  .text-name{
    font-size:16px;
  }

  .text-day{
   font-size:18px;
  }
  
  .ellipsis {
    font-size:15px;
      display: inline-block;
    width: 250px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  
  @media ( max-width :768px){
  .ellipsis {
  font-size:13px;
    display: inline-block;
    width: 200px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  }
  
  @media (max-width: 768px){
    .change-size {
    font-size: 13px;
  }
 
  }
  
  @media ( max-width :768px) {
  .text-day{
   font-size:13px;
  }
   .text-name{
    font-size:13px;
  }
  
  }
  @media ( max-width :968px) {
  .text-day{
   font-size:15px;
  }
   .text-name{
    font-size:15px;
  }
  
  
  }
  
  
  @media ( max-width :479px){
    .picture-book {
    box-shadow: 0 0 1px 1px #bdc3c7;
    height: 90px;
    width:90px;
  }
  }
  
  
  .text-letter{
    letter-spacing:10px;
  }
  
    .text-HH{
    font-size:16px;
    margin-right: 80px;
    margin-left:10px;
  }
  .text-title-2{
    font-size:16px;
    margin-right: 151px;
    margin-left:30px;
  }
  .text-item{
    font-size:16px;
    margin-right: 90px;
    margin-left:124px;
  }
  
  
