
  .drag-prevent {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
  
  
  
  .s {
    display: flex;
  }
  
  
  .picture-book {
    box-shadow: 0 0 1px 1px #bdc3c7;
    height: 120px;
    width:120px;
    
  }
  
  .change-size {
    font-size: 15px;
  }
  
  .text-name{
    font-size:16px;
  }

  .text-day{
   font-size:18px;
  }
  
  .ellipsis {
    font-size:15px;
      display: inline-block;
    width: 250px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  
  @media ( max-width :768px){
  .ellipsis {
  font-size:13px;
    display: inline-block;
    width: 200px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  }
  
  @media (max-width: 768px){
    .change-size {
font-size: 13px;}
 
  }
  
  @media ( max-width :768px) {
  .text-day{
   font-size:13px;
  }
   .text-name{
    font-size:13px;
  }
  
  }
  @media ( max-width :968px) {
  .text-day{
   font-size:15px; }
   .text-name{ sfont-size:15px; }
  
  }
  
  @media ( max-width :479px){
    .picture-book {
    box-shadow: 0 0 1px 1px #bdc3c7;
    height: 90px;
    width:90px;
  }
  }
  
  
  .text-letter{
    letter-spacing:7px;
  }
  
 /*    .text-HH{
    font-size:16px;
    margin-right: 78px;
    margin-left:0px;
  }
  .text-title-2{
    font-size:16px;
    margin-right:99px;
    margin-left:44px;
      width: 200px; 반드시 너비를 정해야 작동함
    overflow: hidden;  넘치는 부분 숨기기
    text-overflow: ellipsis; 넘치면 "..."으로 표시
    white-space: nowrap;
     display: inline-block; 
  }
  .text-item{
    font-size:16px;
    margin-right: 10px;
    margin-left:10px;
  } */
  
  .text-margin-itme{
  position:absolute;
  margin-left:80px;
  margin-right:60px;
  
  }
    .text-margin{
  position:absolute;
  	
  margin-right:40px;
  margin-left:30px;
  }
  
  .text-margin-or{
   position:absolute;
  	
  }
  
  .text-dis{
  display: grid;
  }
  
  .text-margin{
  margin: 30px;
  }
  
  .text-align{
  text-align:center;
  }
  
 /*  .hr-uniform {
  height: 1px;
  background-color: #ccc;
  opacity: 1;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
} */

.text-line{
	
}


  .aa {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 0px;
  margin:0px;
  
}

.chapter-order {
  font-size: 12px;
  flex-shrink: 0;
}

.chapter-title {
  font-size: 12px;
  flex-grow: 1;
}

.chapter-date {
  font-size: 12px;
  flex-shrink: 0;
}  
  
 /*    .aa {
    color: black;
    text-decoration: none;
     	position:relative;
  width: 500px;
  height: 100px;
 
  }
  */ 
