    .img-fixed {
      width: 110px;
      height: 110px;
      border-radius: 10px;
    }

    .img-fixed-ms{
      width: 89px;
      height: 115px;
      border-radius: 10px;
    }

    .sd {
      border-radius: none !important;
      padding: 10px;
    }

    @media (max-width :768px) {
      .img-fixed {
        width: 90px;
        height: 90px;
        border-radius: 5px;
      }
    }

    @media (max-width :768px) {
      .text-name {
        font-size: 14px;
      }
    }

    .drag-prevent {
      -ms-user-select: none;
      -moz-user-select: -moz-none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      user-select: none;
    }

    .text-name-big {
      font-weight: 500;
      font-size: 16px;
    }

    .interior-size {
      padding: 0px;
    }

    .text-size {
      width: 650px;
      height: 150px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      color: black;
    }

    .text-a {
      text-decoration: none;

    }

    .text-a:hover {
      text-decoration: underline;
      color: black;

    }

    .img-size {
      width: 110px;
      height: 110px;

    }

    
    .text-tltle{
    font-size: 13px !important;
    }
    .text-name{
    font-size:15px;
    }
    .text-name-ms{
font-size:13px !important ;
    }
    .text-line{
      border: 1px solid #bdc3c7;
    }
      
  .ellipsis {
    font-size:15px;
      display: inline-block;
    width: 200px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  
  @media ( max-width :768px){
  .ellipsis {
  font-size:13px;
    display: inline-block;
    width: 170px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  }
    
@media ( max-width :768px) { 
.text-name{
	font-size:14px;
	}
}
	
	.box {
  margin-bottom: 10px; /* 아래로 간격 (수직) */
  }

  .parent{
    border:1px solid black;
    margin:1px;
    padding:10px;
    text-align: center;
  }
  .child{
    display: inline-block;
    width: 100px;
    height: 100px;
  }
	
	
	.item-box {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
	
	.box {
  margin-bottom: 10px; /* 아래로 간격 (수직) */
  }

  .parent{
    border:1px solid black;
    margin:1px;
    padding:10px;
    text-align: center;
  }
  .child{
    display: inline-block;
    width: 100px;
    height: 100px;
  }
	
