.dds{
	  height: auto;
  width: auto;
}
 
 .ellipsis {
    font-size:15px;
      display: inline-block;
    width: 250px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  
  
   @media ( max-width :768px){
  .ellipsis {
  font-size:13px;
    display: inline-block;
    width: 200px; /* 반드시 너비를 정해야 작동함 */
    overflow: hidden;  /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치면 "..."으로 표시 */
    white-space: nowrap; 
  }
  
    .hidden-table{
  display:none;
  }
  
   .hidden-table-no{
    display: block;
  }
 
 .font-size{
  font-size: 12px !important;
  }
  
    .font-size-title{
  font-size: 14px !important;
  }
  
  }
  
  .text-keep{
  word-spacing:keep-all;
}
.note-editable {
  font-family: 'Noto Sans KR', sans-serif !important;
}
   
 .hidden-table-no{
      display: none;
  }
  
  .hidden-table{
  display:block;
  }
  .font-size{
  font-size: 15px !important;
  }
  .font-size-title{
  font-size: 16px !important;
  }
  
  
  
  
