<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="chapter">
  
  <insert id="add">
	insert into chapter(
	chapter_no, work_no, chapter_title,
	chapter_detail, chapter_comment,
	chapter_order)values(
	#{chapterNo},#{workNo},#{chapterTitle},
	#{chapterDetail}, #{chapterComment},
	#{chapterOrder})  
  </insert>
  
  
  <select id="sequence" resultType="int">
  select chapter_seq.nextval from dual
  </select>
	<update id="edit"> 
	update chapter
	set
	work_no=#{workNo},
	chapter_title=#{chapterTitle},
	chapter_detail=#{chapterDetail},
	chapter_comment=#{chapterComment},
	  chapter_recent = SYSTIMESTAMP
	where chapter_no=#{chapterNo}
	</update> 
<!-- 조회 -->
<select id="list">
select * from chapter order by chapter_order asc
</select>

    <!-- 삭제 -->
    <delete id="delete">
    delete chapter where chapter_no=#{chapterNo}
    </delete>
    
    
    <select id="getNextChapterOrder" resultType="int">
        SELECT NVL(MAX(chapter_order), 0) + 1
        from chapter
        where work_no = #{workNo}
    </select>
    
	<select id="find" resultType="chapterDto">
	select * from chapter where chapter_no=#{chapterNo}
	</select>    
    
    
    
  </mapper>
  
  