<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="cert">
  
  <insert id="add">
  insert into cert(
  cert_email, cert_number
  )values(
  #{certEmail},#{certNumber})
  </insert>
 
 <!--  수정 -->
     <update id="update">
 	update cert
 	set
 	cert_number=#{certNumber},	
 	cert_Time=#{certTime, jdbcType=TIMESTAMP},
 	cert_confirm=#{cerConfirm, jdbcType=TIMESTAMP }
 	wehere 
 	cert_Email=#{certEmail}
    </update> 
  
  <update id="confirm">
  update cert
  set
  cert_confirm=#{certConfirm, jdbcType=TIMESTAMP}
  where cert_email=#{certEmail}
  </update>
  
  <!-- 상세 조회 -->
    <select id="find" resultType="certDto">
    select * from cert where cert_email=#{certEmail}
    </select>
    
    <!-- 삭제 -->
    <delete id="delete">
    delete cert where cert_email=#{certEmail}
    </delete>  
	
	<delete id="deleteTime" parameterType="map">
  DELETE FROM cert
  WHERE cert_email IN (
    SELECT TMP.cert_email
    FROM (
      SELECT
        cert.*,
        EXTRACT(DAY FROM (SYSTIMESTAMP - cert_time)) * 24 * 60 +
        EXTRACT(HOUR FROM (SYSTIMESTAMP - cert_time)) * 60 +
        EXTRACT(MINUTE FROM (SYSTIMESTAMP - cert_time)) +
        EXTRACT(SECOND FROM (SYSTIMESTAMP - cert_time)) / 60 AS diff
      FROM cert
    ) TMP
    WHERE
      (cert_confirm IS NULL AND diff >= #{unconfirmedLimit})
      OR
      (cert_confirm IS NOT NULL AND diff >= #{confirmedLimit})
  )
	</delete>
	
    

    
    
  </mapper>
  