<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<!--등록 -->
	<insert id="add">
	insert into member(
	member_id,
	member_pw,
	member_nickname,
	member_level,
	member_email,
	member_birth,
	member_item,
	member_gender)
	values(
	#{memberId},
	#{memberPw},
	#{memberNickname},
	#{memberLevel},
	#{memberEmail},
	#{memberBirth},
	#{memberItem},
	#{memberGender}
	)
	</insert>
	<!-- 세션 -->
	<select id="sequence">
	
	</select>

	<!--회원 조회 -->
	<!-- <select id=""></select> -->
	<!--회원 삭제 -->
	<delete id="delete"></delete>
	<!--회원 상세 -->
	<select id="detail"></select>
	<!--수정 -->
	<update id="edit">
	
	</update>



</mapper>
