<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="member">
	  
	  <!-- 등록 -->
	  <insert id="add">
	  insert into member(
	  member_id,
	  member_pw,
	  member_nickname,
	  member_birth,
	  member_email,
	  member_gender
	  )values(
	  #{memberId},
	  #{memberPw},
	  #{memberNickname},
	  #{memberBirth},
	  #{memberEmail},
	  #{memberGender}
	  )
	  </insert>
  <!-- 수정 -->
  <update id="edit">
  update member
  set 
  member_id=#{memberId},
  member_name=#{memberPw},
  member_nickname=#{memberNickname},
  member_level=#{memberLevel},
  member_email=#{memberEmail},
  member_birth=#{memberBirth},
  member_item=#{memberItem},
  member_gender=#{memberGender}
  </update>
  <!-- 회원 탈퇴 -->
  <delete id="delete" >
  delete member where member_id=#{memberId}
  </delete>
  <!-- 상세 조회 -->
  <select id="find" resultType="memberDto">
  select * from member where member_id=#{memberId}
  </select>
  
  <insert id="connect">
  insert into member(
  member_id,
  attachment_no)values(#{memberId},#{attachmentNo}
  )
  </insert>
  
  <select id="findImage" resultType="int">
  select attachment_no from member_image where member_id={memberId}
  </select>
  
  <select id="selectOneByMemberNickname" resultType="String">
  select * from member where member_nickname=#{memberNickname}  
  </select>
  
  <select id="list" resultType="memberDto">
  select * from member order by member_id desc
  </select>
  
  
  </mapper>
  
  