<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work">
	<!-- 관리자 등록 -->
	<insert id="add">
		insert into work(
		work_no, work_id, work_name,
		work_genre, work_sub_genre,
		work_prefer,
		work_wtime,
		work_paid,
		work_contract,
		work_book,
		work_subtotal
		)
		values
		(
		#{workNo},
		#{workId},
		#{workName},
		#{workGenre},
		#{workSubGenre},
		#{workPrefer},
		#{workWtime, jdbcType=TIMESTAMP},
		#{workPaid},
		#{workContract},
		#{workBook},
		#{workSubtotal}
		)
	</insert>
	<!--일반 회원 등록 -->
		<insert id="add2">
		insert into work(
		work_no,
		work_id, 
		work_name,
		work_genre, 
		<if test="workSubGenre !=null">
		work_sub_genre,
		</if>
		work_prefer,
		work_wtime,
		work_paid,
		work_contract,
		work_subtotal,
		work_mon,
		work_tue,
		work_wed,
		work_thu,
		work_fri,
		work_sat,
		work_sun
		)values
		(
		#{workNo},
		#{workId},
		#{workName},
		#{workGenre},
		<if test="workSubGenre !=null">
		#{workSubGenre},
		</if>
		#{workPrefer},
		#{workWtime, jdbcType=TIMESTAMP},
		#{workPaid},
		#{workContract},
		#{workSubtotal},
		#{workMon},
		#{workTue},
		#{workWed},
		#{workThu},
		#{workFri},
		#{workSat},
		#{workSun}
		)
	</insert>


	<select id="sequence" resultType="int">
		select work_seq.nextval from dual
	</select>

	<!-- 목록 조회 -->
	<select id="list" resultType="WorkDto">
		select * from work order by work_no desc
	</select>

	<select id="viewList" resultType="WorkListViewDto">
		select * from work_list_view  
	</select>
	
	<!-- 수정 -->
	<update id="edit"> 
	update work
	set
	work_id=#{workId},
	work_name=#{workName},
	work_genre=#{workGenre},
	work_sub_genre=#{workSubGenre},
	work_paid=#{workPaid},
	work_contract=#{workContract},
	work_subtotal=#{workSubtotal}
	where work_no=#{workNo}
	</update> 
	<!-- 삭제 -->
	 <delete id="delete">
	  delete work where work_no=#{workNo} 
	  </delete>

<!-- 상세 조회 -->
	<select id="find" resultType="WorkDto">
	select * from work where work_no=#{workNo}
	</select>	
	
	
	<!-- 뷰 상세조회 -->
	<select id="listViews" resultType="WorkListViewDto">
	select * from work_profile where work_no=#{workNo}
	</select>


	<select id="workListView" resultType="WorkListViewDto">
	select * from work_list_view where work_no = #{workNo}
	</select>


	<insert id="connect">
	insert into work_profile(
	work_no,
	attachment_no)
	values(
	#{workNo},
	#{attachmentNo}
	)
	</insert>


<select id="findProfile" resultType="int">
select attachment_no from work_profile where work_no=#{workNo}
</select>



 <select id="searchList" resultType="WorkDto" >
select * from work
where work_prefer LIKE '%'||#{keyword}||'%'
</select>

 <select id="searchListView" resultType="WorkListViewDto" >
select * from work_list_view
where work_prefer LIKE '%'||#{keyword}||'%'
</select>

	<select id="search" resultType="WorkDto">
		select * from work
		where
		instr(${column}, #{keyword})>0
		order by ${column} asc, work_no asc
	</select>

		
	<select id="listOrSearch" resultType="WorkDto">
		select * from work
		<if test="column != null and keyword !=null">
			where
			${column} like #{keyword}||'%'
		</if>
		order by
		<if test="column !=null and keyword !=null">
			${column} asc,
		</if>
		work_no asc
	</select>




</mapper>
  
  