<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work">
	<!-- 관리자 등록 -->
	<insert id="add">
		insert into work(
		work_no, work_id, work_name,
		work_genre, work_sub_genre,
		work_prefer,
		work_wtime,
		work_paid,
		work_contract,
		work_book,
		work_subtotal
		)
		values
		(
		#{workNo},
		#{workId},
		#{workName},
		#{workGenre},
		#{workSubGenre},
		#{workPrefer},
		#{workWtime, jdbcType=TIMESTAMP},
		#{workPaid},
		#{workContract},
		#{workBook},
		#{workSubtotal}
		)
	</insert>
	<!--일반 회원 등록 -->
		<insert id="add2">
		insert into work(
		work_no,
		work_id, 
		work_name,
		work_genre, 
		<if test="workSubGenre !=null">
		work_sub_genre,
		</if>
		work_prefer,
		work_wtime,
		work_paid,
		work_contract,
		work_subtotal,
		work_mon,
		work_tue,
		work_wed,
		work_thu,
		work_fri,
		work_sat,
		work_sun
		)values
		(
		#{workNo},
		#{workId},
		#{workName},
		#{workGenre},
		<if test="workSubGenre !=null">
		#{workSubGenre},
		</if>
		#{workPrefer},
		#{workWtime, jdbcType=TIMESTAMP},
		#{workPaid},
		#{workContract},
		#{workSubtotal},
		#{workMon},
		#{workTue},
		#{workWed},
		#{workThu},
		#{workFri},
		#{workSat},
		#{workSun}
		)
	</insert>

	<!--  -->
	<select id="sequence" resultType="int">
		select work_seq.nextval from dual
	</select>

	<!-- 목록 조회 -->
	<select id="list" resultType="workDto">
		select * from work order by work_no desc
	</select>

	<select id="viewList" resultType="WorkListViewDto">
		select * from work_list_view  
	</select>
	
	<!-- 수정 -->
	<update id="edit"> 
	update work
	set
	work_id=#{workId},
	work_name=#{workName},
	work_genre=#{workGenre},
	work_sub_genre=#{workSubGenre},
	work_paid=#{workPaid},
	work_contract=#{workContract},
	work_subtotal=#{workSubtotal}
	where work_no=#{workNo}
	</update> 
	<!-- 삭제 -->
	 <delete id="delete">
	  delete work where work_no=#{workNo} 
	  </delete>

<!-- 상세 조회 -->
	<select id="find" resultType="workDto">
	select * from work where work_no=#{workNo}
	</select>	
	
	
	<!-- 뷰 상세조회 -->
	<select id="listViews" resultType="workListViewDto">
	select * from work_profile where work_no=#{workNo}
	</select>


	<select id="workListView" resultType="workListViewDto">
	select * from work_list_view where work_no = #{workNo}
	</select>


	<insert id="connect">
	insert into work_profile(
	work_no,
	attachment_no)
	values(
	#{workNo},
	#{attachmentNo}
	)
	</insert>


<select id="findProfile" resultType="int">
select attachment_no from work_profile where work_no=#{workNo}
</select>

<!-- 해쉬 색이검 안됨 -->
 <!--  이건 상세 조회 
 원하는 태그 조회하곤 다름.
 -->
 <!-- 태그를 리스트 형태로 뽑아야 될 가능성 높음 -->
 <select id="listPrefer" resultType="workDto">
 select * from  where work_prefer=#{workPrefer}
 </select>

</mapper>
  
  